/* this page was made with mobile-first styling  */
body {
    width: 100%;
    margin: 0;
    font-family: 'Kumbh Sans';
    position: relative;
}
h1 {
    font-weight: 700;
    line-height: 28px;
    font-size: 26px;
    color: hsl(220, 13%, 13%);
}
h2 {
    text-transform: uppercase;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 16px;
}
p {
    font-size: 16px;
    color: hsl(219, 9%, 45%);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px 0;
    font-weight: 700;
}
.primary-button {
    background-color: hsl(26, 100%, 55%);
    border: none;
    color: white;
    border-radius: 10px;
}

/* overlay menu styling */
.overlay-menu {
    display: none;
    width: 65%;
    height: 100vh;
    background-color: white;
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
}
/* cart overlay summary styling */
.cart-summary {
    display: none;
    position: absolute;
    top: 8%;
    right: 50%;
    transform: translateX(50%);
    width: 95%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    z-index: 3;
}
#cart-summary-heading {
    margin: 0;
    padding: 25px;
    color: black;
    border-bottom: 1px solid hsl(223, 64%, 98%);
    font-weight: 700;
}
#cart-filled {
    width: 90%;
    margin: auto;
    display: none;
}
.cart-summary-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}
.cart-product-thumbnail {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}
#cart-total {
    color: black;
    font-weight: 700;
}
.checkout-button {
    display: block;
    width: 100%;
    height: 50px;
}
#cart-empty-message {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
/* filters to lighten or darken element */
.darken:before {
    background: black;
    content: "";
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.lighten:before {
    background: white;
    content: "";
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* nav bar styling */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.left-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-width: 160px;
}
.right-nav-bar {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
#menu-icon {
    width: 16px;
    height: 15px;
}
#logo {
    width: 138px;
    height: 20px;
}
#cart-icon {
    width: 22px;
    height: 20px;
    margin: 0;
}
.shopping-cart {
    position:relative;
    text-align: center;
}
#cart-filled-notification {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 14px;
    font-size: 10px;
    text-align: center;
    margin: 0;
    margin-top: -5px;
    margin-right: -5px;
    background:hsl(26, 100%, 55%);
    color: white;
    border-radius: 5px;
}
#avatar-image {
    width: 22px;
    height: 22px;
}

/* photo slider styling */
.photo-slider {
    width: 100%;
    position: relative;
}
.slider-arrow {
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    z-index: 1;
    margin: 0 8px;
    padding: 0;
}
.arrow-icon {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide {
    width: 100%;
}

/* styling for product description and price */
.product-details {
    padding: 0 15px;
}
.product-price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.product-price-details div:first-child{
    display: flex;
    align-items: center;
}
.sale-percantage {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    width: 40px;
    height: 24px;
    border-radius: 15%;
    text-align: center;
    margin-left: 15px;
    font-weight: 700;
}
.old-price {
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    font-weight: 700;
}
 
/* styling for add to cart counter */
.counter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 20px;
}
.counter button {
    background: none;
    border: none;
}
#add-to-cart-count {
    font-weight: 700;
    color: black;
}

/* add to cart button styling */
.add-to-cart {
    width: 100%;
    height: 56px;
    margin-top: 20px;
    margin-bottom: 75px;
    box-shadow: 0px 14px 24px 0px rgba(255,125,26,0.48);
    -webkit-box-shadow: 0px 14px 24px 0px rgba(255,125,26,0.48);
    -moz-box-shadow: 0px 14px 24px 0px rgba(255,125,26,0.48);
}
.add-to-cart img {
    /* this filter turns svg icon to white */
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2379%) hue-rotate(306deg) brightness(111%) contrast(101%);
    width: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* front end mentor attribution  */
.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* hide desktop elements in mobile design */
.menu {
    display: none;
}
.product-thumbnails {
    display: none;
}
.lightbox {
    display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* nav bar styling */
    .nav-bar {
        width: 80%;
        height: 115px;
        margin: auto;
        padding: 0;
        border-bottom: 1px solid hsl(220, 14%, 75%);
        margin-bottom: 100px;
    }
    .left-nav-bar {
        width: 50%;
        height: 100%;
        min-width: 520px;
    }
    .right-nav-bar {
        width: 10%;
        min-width: 80px;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        width: 70%;
        height: 100%;
        min-width: 350px;
        margin: 0;
    }
    #menu-icon {
        display: none;
    }
    #avatar-image {
        width:50px;
        height: 50px;
    }
    
    li {
        font-weight: 500;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }

    li:hover {
        cursor: pointer;
        border-bottom: 4px solid hsl(26, 100%, 55%);
        font-weight: 700;
    }
    
    /* styling for cart overlay */
    .cart-summary {
        width: 400px;
        right: 3%;
        top: 100px;
        transform: none;
        box-shadow: 0px 10px 30px -4px rgba(0,0,0,0.75);
    }

    /* main content flex in desktop design */
    .main-content {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;
    }
    .photo-slider {
        width: 45%;
    }
    .product-details {
        width: 50%;
        margin-top: 40px;
    }
    
    /* styling for photo slider section */
    .slider-arrow {
        display: none;
    }
    .photo-slider img {
        border-radius: 15px;
    }
    .product-thumbnails {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .thumbnail {
        width: 20%;
    }

    /* styling for lightbox overlay */
    .lightbox .photo-slider{
        z-index: 4;
        position: absolute;
        width: 40%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: right;
    }
    .lightbox-close-icon {
        /* changes icon to white */
        filter:brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7%) hue-rotate(344deg) brightness(101%) contrast(101%);
        width: 20px;
        margin-bottom: 10px;

    }
    .lightbox-arrows-container {
        position: absolute;
        display: flex;
        width: 110%;
        justify-content: space-between;
        top: 35%;
        margin-left: -5%;
    }
    .lightbox-arrow {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
    }
    .lightbox-arrow-icon{
        width: 15px !important;
        height: 22px !important;
    }
    .lightbox-slide {
        width: 100%;
    }
    .lightbox .product-thumbnails {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .lightbox-thumbnail {
        width: 20%;
        position: relative;
        opacity: 1;
    }

    /* styling for product description and add to cart buttons */
    h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .product-price-details {
        display: block;
    }
    .product-price {
        font-size: 28px;
    }
    .product-detail-buttons {
        display: flex;
        justify-content: space-between;
    }
    .counter {
        width: 33%;
        height: 58px;
    }
    .add-to-cart {
        width: 65%;
    }

    /* active states styling for desktop */
    #avatar-image:hover {
        border: 2px solid hsl(26, 100%, 55%);
        border-radius: 100%;
        cursor: pointer;
    }
    #cart-icon:hover {
        /* turns icon black */
        filter: brightness(0) saturate(100%);
        cursor: pointer;
    }
    .lightbox-arrow:hover {
        opacity: 1;
    }
    .lightbox-arrow:hover .lightbox-arrow-icon {
        /* turns icon orange */
        filter: brightness(0) saturate(100%) invert(62%) sepia(87%) saturate(3057%) hue-rotate(347deg) brightness(101%) contrast(101%);
    }
    button:hover {
        cursor: pointer;
        opacity: 70%;
    }
    .delete-icon:hover {
        cursor: pointer;
    }
    .thumbnail:hover {
        opacity: 70%;
        cursor: pointer;
    }
    .active-thumbnail {
        opacity: 70%;
        border: 3px solid hsl(26, 100%, 55%);
    }
}